
/* section 1 */

.head-warpper{
  background-image: url('../img/vegetable-rows-pepper-grow-field-farming-agriculture_72572-4.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  position: relative;
  height: 100vh;
}



.head-warpper::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.head-warpper > div{
  position: relative;
}
.nav-box{
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  padding: 20px;
}

.nav-bar {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul{
  display: flex;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.nav-bar ul li{
  list-style: none;
  margin: 0px 10px;
}

.head-box{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
  padding: 0px 170px 160px 0px
}

.head-box h1{
  font-size: 80px;

}

.head-box p{
  font-size: 40px;
}

/* section 2 */

.section-2{
  background-image: url('../img/young-plants-growing-very-large-plant-commercial-greenhouse.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  position: relative;
  padding: 40px 0px;
  height: 100vh;
}

.section-2::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: black;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.section-2 > div{
  position: relative;
  z-index: 10;
}

.solution{
  padding: 60px 40px;
}


.solution h2{
  width: 25%;
  position: relative;
  font-size: 30px;
}

.solution h2::before  {
  content: "";
  border: 10px solid #88CE53;
  position: absolute;
  top: -40px;
  width: 100%;
  border-radius: 30px;
}

.solution ul{
  margin-top: 130px;
}

.solution ul li{
  font-size: 25px;
  color: white;
}

.solution ul li::marker{
  color: #88CE53;
  font-size: 40px;
}

/* section 3 */

.our-solution{
  display: flex;
  justify-content: flex-start ;
  padding: 100px 30px;
}

.our-solution h3{
  position: relative;
  margin: 30px;
  font-size: 35px;
}

.our-solution h3::before  {
  content: "";
  border: 10px solid #88CE53;
  position: absolute;
  top: -40px;
  width: 100%;
  border-radius: 30px;
}

.section-3 .right-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 30px;
}

.section-3 .left-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.section-3 .right-box p{
  padding-top: 20px;
}

.section-3 .left-box p{
  padding-top: 20px;
}

/* section 4 */

.section-4 .right-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px 0px;
  text-align: center;
}

.our-solution h4{
  position: relative;
  margin: 30px;
  font-size: 35px;
}

.our-solution h4::before  {
  content: "";
  border: 10px solid #55CBF9;
  position: absolute;
  top: -40px;
  width: 100%;
  border-radius: 30px;
}
/* section 5 */


.section-5-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.section-5-text p{
  width: 60%;
}

/* section 6 */
.advance-box{
  margin: 30px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 30px;
  margin: 40px auto;
}

/* form */

.section-8 form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  border-radius: 20px;
  border: 2px dashed #78ffff;
  margin: 20px auto;
  padding: 20px 0px;
}

.section-8 form label{
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.section-8 form label input{
  
  width: 90%;
  outline:0 !important;
  border: none;
  border-bottom: 2px solid rgb(119, 113, 113);
}

.form-div  button{
  background-color: unset;
  padding: 5px 14px;
  border: 1px solid black;
  width: 10%;
  border-radius: 10px;
}

.form-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.last-div{
  border-top: 1px solid black;
  text-align: center;
  padding: 20px 0px ; 
}